[run]
branch = True
source = indices_python

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    tests/*